/firmware/play/build/
/firmware/play/debug/
/firmware/play/disassembly/
/firmware/play/dist/
/firmware/play/nbproject/

/firmware/viz/build/
/firmware/viz/debug/
/firmware/viz/disassembly/
/firmware/viz/dist/
/firmware/viz/nbproject/

/~$*

/hardware/pictas-pcb/pictas-backups/